@model MVCWardrobeProject.Bottom

@{
    ViewBag.Title = "Details";
}
<link href="~/BottomDetailsStyle.css" rel="stylesheet" />
<h1 style="margin-top:1vh; color:	#020202!important;">Details</h1>

<h3>
    @Html.ActionLink("Back to List", "Index")
</h3>



<div class="cards-container">
    <div class="card-container">
        <div class="card">
            <div class="front">
                <img src="@Html.DisplayFor(modelItem =>modelItem.BottomPhoto)" />
            </div>
            <div class="back" style="text-align:center;">
                <p style="margin-top:20px">
                    @Html.DisplayNameFor(model => model.BottomName) : @Html.DisplayFor(model => model.BottomName)
                </p>
                <p style="margin-top:20px">
                    @Html.DisplayNameFor(model => model.BottomColor) : @Html.DisplayFor(model => model.BottomColor)
                </p>
                <p style="margin-top:20px">
                    @Html.DisplayNameFor(model => model.BottomSeason) : @Html.DisplayFor(model => model.BottomSeason)
                </p>
                <p style="margin-top:20px">
                    @Html.DisplayNameFor(model => model.BottomOccasion) : @Html.DisplayFor(model => model.BottomOccasion)
                </p>
                <p style="margin-top:20px">
                    @Html.DisplayNameFor(model => model.BottomType) : @Html.DisplayFor(model => model.BottomType)
                </p>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.BottomID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = Model.BottomID }) |
                    @Html.ActionLink("Back to List", "Index")
                </p>
            </div>
        </div>
    </div>
</div>