@model MVCWardrobeProject.Accessory

@{
    ViewBag.Title = "Details";
}
<link href="~/AccessoryDetailsStyleSheet.css" rel="stylesheet" />
<h1>Details</h1>
<h3>
    @Html.ActionLink("Back to List", "Index")
</h3>


<div class="cards-container">
    <!--   First Card -->
    <div class="card-container">
        <div class="card">
            <div class="front">
                <img src="@Html.DisplayFor(modelItem =>modelItem.AccessoryPhoto)" />
            </div>
            <div class="back" style="text-align:center;">
                <p style="margin-top:20px">
                    @Html.DisplayNameFor(model => model.AccessoryName) : @Html.DisplayFor(model => model.AccessoryName)
                </p>
                <p style="margin-top:20px">
                    @Html.DisplayNameFor(model => model.AcessoryColor) : @Html.DisplayFor(model => model.AcessoryColor)
                </p>
                <p style="margin-top:20px">
                    @Html.DisplayNameFor(model => model.AccesorySeason) : @Html.DisplayFor(model => model.AccesorySeason)
                </p>
                <p style="margin-top:20px">
                    @Html.DisplayNameFor(model => model.AccessoryOccasion) : @Html.DisplayFor(model => model.AccessoryOccasion)
                </p>
                <p style="margin-top:20px">
                    @Html.DisplayNameFor(model => model.AccessoryType) : @Html.DisplayFor(model => model.AccessoryType)
                </p>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.AccessoryID }) |
                    @Html.ActionLink("Back to List", "Index")
                </p>


            </div>
        </div>
    </div>
</div>
