@model MVCWardrobeProject.Top

@{
    ViewBag.Title = "Details";
}

<link href="~/TopDetailsStyle.css" rel="stylesheet" />
<h1 style="margin-top:1vh; color:	#020202!important;">Details</h1>

<h3 style="margin-top:1vh;">
    @Html.ActionLink("Back to List", "Index")
</h3>



<div class="cards-container">
    <div class="card-container">
        <div class="card">
            <div class="front">
                <img src="@Html.DisplayFor(modelItem =>modelItem.TopPhoto)" />
            </div>
            <div class="back" style="text-align:center;">
                <p style="margin-top:20px">
                    @Html.DisplayNameFor(model => model.TopName) : @Html.DisplayFor(model => model.TopName)
                </p>
                <p style="margin-top:20px">
                    @Html.DisplayNameFor(model => model.TopColor) : @Html.DisplayFor(model => model.TopColor)
                </p>
                <p style="margin-top:20px">
                    @Html.DisplayNameFor(model => model.TopSeason) : @Html.DisplayFor(model => model.TopSeason)
                </p>
                <p style="margin-top:20px">
                    @Html.DisplayNameFor(model => model.TopOccasion) : @Html.DisplayFor(model => model.TopOccasion)
                </p>
                <p style="margin-top:20px">
                    @Html.DisplayNameFor(model => model.TopType) : @Html.DisplayFor(model => model.TopType)
                </p>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.TopID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = Model.TopID }) |
                    @Html.ActionLink("Back to List", "Index")
                </p>
            </div>
        </div>
    </div>
</div>