@model MVCWardrobeProject.Shoe

@{
    ViewBag.Title = "Details";
}

<link href="~/ShoeDetailsStyle.css" rel="stylesheet" />
<h1 style="margin-top:1vh; color:	#020202!important;">Details</h1>

<h3>
    @Html.ActionLink("Back to List", "Index")
</h3>



<div class="cards-container">
    <div class="card-container">
        <div class="card">
            <div class="front">
                <img src="@Html.DisplayFor(modelItem =>modelItem.ShoePhoto)" />
            </div>
            <div class="back" style="text-align:center;">
                <p style="margin-top:20px">
                    @Html.DisplayNameFor(model => model.ShoeName) : @Html.DisplayFor(model => model.ShoeName)
                </p>
                <p style="margin-top:20px">
                    @Html.DisplayNameFor(model => model.ShoeColor) : @Html.DisplayFor(model => model.ShoeColor)
                </p>
                <p style="margin-top:20px">
                    @Html.DisplayNameFor(model => model.ShoeSeason) : @Html.DisplayFor(model => model.ShoeSeason)
                </p>
                <p style="margin-top:20px">
                    @Html.DisplayNameFor(model => model.ShoeOccasion) : @Html.DisplayFor(model => model.ShoeOccasion)
                </p>
                <p style="margin-top:20px">
                    @Html.DisplayNameFor(model => model.ShoeType) : @Html.DisplayFor(model => model.ShoeType)
                </p>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.ShoeID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = Model.ShoeID }) |
                    @Html.ActionLink("Back to List", "Index")
                </p>
            </div>
        </div>
    </div>
</div>